<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080893081827-drob1mk692r2oii20c00ul927e64f8p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080893081827-drob1mk692r2oii20c00ul927e64f8p7</string>
	<key>API_KEY</key>
	<string>AIzaSyAvl8XAbffmEbZsHopU2a5z4_5m8BaSJeI</string>
	<key>GCM_SENDER_ID</key>
	<string>1080893081827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DragonDare.sihFishook</string>
	<key>PROJECT_ID</key>
	<string>sih-clapforkrishna-c1752</string>
	<key>STORAGE_BUCKET</key>
	<string>sih-clapforkrishna-c1752.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080893081827:ios:ca21aedfab1334d936ddd6</string>
</dict>
</plist>